:root {
  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* Colors */
  --primary-color: #e45064;
  --black: #404040;
  --white: #ffffff;
  --background: #f4f4f4;

  /* Spacing (margin and padding values) */
  --space-unit: 1rem;
  --space-xxs: calc(0.5 * var(--space-unit));
  --space-xs: calc(1 * var(--space-unit));
  --space-sm: calc(1.5 * var(--space-unit));
  --space-md: calc(2 * var(--space-unit));
  --space-lg: calc(3 * var(--space-unit));
  --space-xl: calc(4 * var(--space-unit));
  --space-xxl: calc(6 * var(--space-unit));
}
